nav {
    background-color: #024d48;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a.active {
    text-decoration: underline;
  }
  body{
    margin: 0px;
    padding: 0px;
  }
  