<div class="user-container">
    <h2>User Details</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          [(ngModel)]="user.first_name"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          [(ngModel)]="user.last_name"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="number"
          id="age"
          name="age"
          [(ngModel)]="user.age"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="weight">Weight</label>
        <input
          type="number"
          id="weight"
          name="weight"
          [(ngModel)]="user.weight"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="height">Height</label>
        <input
          type="number"
          id="height"
          name="height"
          [(ngModel)]="user.height"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="gender">Gender</label>
        <select
          id="gender"
          name="gender"
          [(ngModel)]="user.gender"
          required
        >
          <option value="" disabled selected>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
  
      <button type="submit" [disabled]="userForm.invalid" class="btn">
        Submit
      </button>
    </form>
  </div>
  